/vendor
/node_modules
.env
.env.*
*.sqlite
*.log
.DS_Store
/storage
/public/storage
/public/hot
/public/build
/bootstrap/cache
/storage/*.key
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode